{% extends 'base.html' %}
{% load static %}
{% block content %}
         <div class="header">
            <p> 
                <ul>
                    <li style="float:right"> <input class="search" type="text"> <button class="button_4" type="submit">Search</button></li>
                    <li style="float:right"><a class="active" href="{% url 'Gallery' %}">Galleries</a></li>
                    <li style="float:right"><a class="active" href="{% url 'about_us' %}">About Us</a></li>
                    <li style="float:right"><a class="active" href="{% url 'contact_us' %}">Contact Us</a></li>
                    <li style="float:left"><button class="button_3">Donate</button></li>
                </ul>
            </p>
            <h1 class="h1a1 logo">Come grow with us!</h1>
            
            <ul>
                <li style="float:right"><a class="active" onclick="document.getElementById('id01').style.display='block'">Sign In</a></li>
                <li style="float:right"><a class="active" href="{% url 'Join_Us' %}">Join Us</a></li>
                <li style="float:right"><a class="active" href="{% url 'our_work' %}">Our Work</a></li>
                <li style="float:right"><a class="active" href="{% url 'members' %}">Members</a></li>
                <li style="float:right"><a class="active" href="{% url 'Resources' %}">Resources</a></li>
                <li style="float:left" id="geolocate"><button class="button_2" onclick="getLocation()">Geolocation</button></li>
            </ul>
        </div>
        <div id="id01" class="modal">
          <span onclick="document.getElementById('id01').style.display='none'"
        class="close" title="Close Modal">&times;</span>
          <form class="modal-content animate" action="/action_page.php">
            <div class="imgcontainer">
              <img src="media/tree_of_life_yggdrasil.jpg" alt="yggdrasil" class="treepicsize2">
            </div>

            <div class="container">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>

              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
          </form>
        </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla aliquet enim tortor at. Adipiscing elit pellentesque habitant morbi. Dolor sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Turpis egestas maecenas pharetra convallis posuere morbi leo urna molestie. Vel fringilla est ullamcorper eget nulla facilisi. At auctor urna nunc id. Id aliquet risus feugiat in ante metus dictum. Eget mi proin sed libero enim sed faucibus turpis in. A arcu cursus vitae congue mauris rhoncus aenean vel elit. Tellus at urna condimentum mattis. Et malesuada fames ac turpis. Arcu cursus euismod quis viverra nibh cras pulvinar mattis.</p>
        <div>
        <footer class="footer"> Site Map | <a href="{% url 'terms_conditions' %}">Terms & Conditions</a> | <a href="{% url 'privacy_policy' %}">Privacy Policy</a> | Coypright @ 2021
        </footer>
        </div>
{% endblock %}